* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor {
    width: 1280px;
    height: 70vh;
    margin: 0 auto;
    background: #ffffff;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(146, 9, 244, 0.37);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: blueviolet;
    background: linear-gradient(135deg, rgba(159, 41, 255, 0.692), rgba(255, 255, 255, 0));
    backdrop-filter: blur(60px);
    -webkit-backdrop-filter:blur(50px) ;
    border:1px solid rgba(0, 0, 0, 0.42);
    overflow: hidden;
}

.bubbles{
  position: fixed;
  display: flex;
}
.bubbles span{
  position: relative;
  width: 30px;
  height: 30px;
  background: #4fc3dc;
  margin: 0 4px ;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #4fc3dc44,
  0 0 50px #4fc3dc,
  0 0 100px #4fc3dc;
  animation: animate 15s linear infinite;
  animation-duration:calc(125s/var(--i));
}
@keyframes animate{
   0%{
    transform: translateY(100vh) scale(0); 
   }
   100%{
    transform: translateY(-100vh) scale(1);  
   }
   
}
.bubbles span:nth-child(even){
  background: #ff2d75;
  box-shadow: 0 0 0 10px #ff2d7544,
  0 0 50px #ff2d75,
  0 0 100px #ff2d75;

}

.contenedor-pregunta {
    width: 80vw;
    height: 100px;
    background-color: rgb(70 26 66);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px #888888;
    padding: 20px;
    margin: 40px;
}

.explicacion-pregunta {
    font: 1em sans-serif;
    color: #fff;
    text-align: center;
    margin-top: 5px;
}

.contenedor-respuestas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(70 26 66);
    padding: 20px;
    margin: 0 auto;
}

.contenedor-opciones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(70 26 66);
    padding: 20px;
    
}

.contenedor-option {
    background-color: #ffffff;
    margin: 5px;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 20px;
    width: 1000px;
    width: calc(33.33% - 20px);
    max-width: 250px;
    font-size: 20px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.explicacion-respuesta {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    max-width: 1138px;
    cursor: text;
}

.interior-opcion {
    display: flex;
    justify-content: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(70 26 66);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    color: #fff;
    padding: 0 20px;
}

.navbar-logo {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 1.5rem;
    font-family: sans-serif;
    text-decoration: none;
}

.navbar-logo img {
    height: 40px;
    margin-right: 10px;
}

.navbar-logo span {
    font-weight: bold;
}

.navbar-navTittle {
    margin-left: 30px;
}

.navbar-nav {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
}

.nav-item {
    margin: 0 10px;
}

.nav-item-label {
    margin-right: 5px;
}

.nav-item-select,
.nav-item-input {
    padding: 5px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: rgb(34, 34, 34);
    border-top: 1px solid #ccc;
    padding: 10px;
  }
  
  .footer-buttons {
    display: flex;
    justify-content: flex-end;
  }
  
  .footer-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .cancel-button {
    background-color: #f44336;
  }
  
  .save-button {
    background-color: #4CAF50;
  }

  
  