
{% extends "layout.html" %} {% block body %}

<div class="card-container">

    <div class="card">
      <div class="card-image" id="creartematicas">
        <img src="/static/img/admin/crearjuego.png" alt="creartematicas">
      </div>
      <h2>Crear Temáticas</h2>
    </div>

    <div class="card">
      <div class="card-image" id="crearpreguntas">
        <img src="/static/img/admin/crearjuego.png" alt="crearpregunta">
      </div>
      <h2>Crear Preguntas</h2>
    </div>

    <div class="card">
      <div class="card-image" id="creadospormi">
        <img src="/static/img/admin/creadospormi.jpeg" alt="Creadospormi">
      </div>
      <h2>Creados por mí</h2>
    </div>

    <div class="card">
      <div class="card-image" id="cambiarrol">
        <img src="/static/img/admin/cambiarrol.png" alt="Cambiarrol">
      </div>
      <h2>Cambiar rol</h2>
    </div>
</div>

{% endblock %}