{% extends "layout.html" %} {% block body %}

<header>
    <nav class="navbar">
            <span class="navbar-navTittle">
                <input type="text" class="nav-item-input" placeholder="Sin título">
            </span>
    </nav>
</header>

<div class="contenedor">
    <div class="contenedor-interior">
        <div class="contenedor-pregunta">
            <div class="explicacion-pregunta">
                <div id="pregunta">
                    <p contenteditable="true">Escribe aquí tu pregunta...</p>
                </div>
                <div class="guardarPregunta">
                    <i class="fa-solid fa-floppy-disk"></i>
                </div>
            </div>
           
        </div>
        <div class="contenedor-respuestas">
            <ul class="contenedor-opciones">
                <li class="contenedor-option">
                    <div class="interior-opcion">
                        <div class="marcar-correcta">
                            <input type="radio" name="correcta">
                        </div>
                        <p class="explicacion-respuesta opcion-0" contenteditable="true">Escribe aquí tu opción de respuesta</p>
                    </div>
                </li>
                <li class="contenedor-option">
                    <div class="interior-opcion">
                        <div class="marcar-correcta">
                            <input type="radio" name="correcta">
                        </div>
                        <p class="explicacion-respuesta opcion-1" contenteditable="true">Escribe aquí tu opción de respuesta</p>
                    </div>
                </li>
                <li class="contenedor-option">
                    <div class="interior-opcion">
                        <div class="marcar-correcta">
                            <input type="radio" name="correcta">
                        </div>
                        <p class="explicacion-respuesta opcion-2" contenteditable="true">Escribe aquí tu opción de respuesta</p>
                    </div>
                </li>
                <li class="contenedor-option">
                    <div class="interior-opcion">
                        <div class="marcar-correcta">
                            <input type="radio" name="correcta">
                        </div>
                        <p class="explicacion-respuesta opcion-3" contenteditable="true">Escribe aquí tu opción de respuesta</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="footer">
    <ul class="footer-nav">
        <!-- Aquí se cargan las temáticas -->
        <li class="footer-item">
            <span class="footer-item-label" id="selTematicas">Temática:</span>
            <select class="footer-item-select" onchange="cargarTematica()" >
                <option value="facil">opcion1</option>
            </select>
        </li>
        <!-- Aquí se definen los puntos de las preguntas -->
        <li class="footer-item">
            <span class="footer-item-label">Asignar Puntos:</span>
            <select class="footer-item-select" >
                <option value="facil">5</option>
                <option value="medio">10</option>
                <option value="dificil">15</option>
            </select>
        </li>
    </ul>
    <div class="footer-buttons">
        <button class="footer-button cancel-button">Cancelar</button>
        <button class="footer-button save-button">Guardar</button>
    </div>
</div>
{% endblock %}