
{% extends "layout.html" %} {% block body %}

<div class="game-list">
    <div class="game-list">
        <div class="game-item">
            <h3>Juego 1</h3>
            <div class="menu">
                <button class="menu-button">&#8285</button>
                <div class="menu-content">
                    <button class="edit-button">Edit</button>
                    <button class="delete-button">Delete</button>
                </div>
            </div>
        </div>
        <div class="game-item">
            <h3>Juego 2</h3>
            <div class="menu">
                <button class="menu-button">&#8285</button>
                <div class="menu-content">
                    <button class="edit-button">Edit</button>
                    <button class="delete-button">Delete</button>
                </div>
            </div>
        </div>
        <div class="game-item">
            <h3>Juego 3</h3>
            <div class="menu">
                <button class="menu-button">&#8285</button>
                <div class="menu-content">
                    <button class="edit-button">Edit</button>
                    <button class="delete-button">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}