{% extends "layout.html" %} {% block body %}

<header >
  <nav class="navbar" >
    <span class="navbar-navTittle" id="header-pregunta">
      <input
        type="text"
        id="tituloP"
        class="nav-item-input"
        placeholder="Sin título"
      />
    </span>
  </nav>
</header>
<div class="card-pregunta" id="crearpreguntas">
  <div class="add_btn">
    <i class="fa-solid fa-circle-plus"></i>
  </div>
  <h3>Crear nueva pregunta</h3>
</div>
<div class="preguntas-creadas" id="preguntas-creadas">
    <span class="item-label">Buscar por temática:</span>
      <select class="footer-item-select" id="selTematicas">
        <option value="Seleccionar">Seleccionar</option>
    </select>
    <div class="content-pregunta">
        <div>
          <h2>Pregunta</h2>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Id Pregunta</th>
                <th scope="col">Pregunta</th>
                <th scope="col">Opciones</th>
              </tr>
            </thead>
            <tbody id="listapreguntas0">

            </tbody>
          </table>
          <br/>
          <!--
          <h2>Respueta 1</h2>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Id Respuesta</th>
                <th scope="col">Respuesta</th>
                <th scope="col">Opciones</th>
              </tr>
            </thead>
            <tbody id="listapreguntas1">

            </tbody>
          </table>
          <br/>
          <h2>Respueta 2</h2>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Id Respuesta</th>
                <th scope="col">Respuesta</th>
                <th scope="col">Opciones</th>
              </tr>
            </thead>
            <tbody id="listapreguntas2">

            </tbody>
          </table>
          <br/>
          <h2>Respueta 3</h2>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Id Respuesta</th>
                <th scope="col">Respuesta</th>
                <th scope="col">Opciones</th>
              </tr>
            </thead>
            <tbody id="listapreguntas3">

            </tbody>
          </table>
          <br/>
          <h2>Respueta 4</h2>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Id Respuesta</th>
                <th scope="col">Respuesta</th>
                <th scope="col">Opciones</th>
              </tr>
            </thead>
            <tbody id="listapreguntas4">

            </tbody>
          </table>
          -->
          
        </div>
    </div>
</div>
<div class="contenedor" id="contenedor">
  <div class="contenedor-interior">
    <div class="contenedor-pregunta">
      <div class="explicacion-pregunta">
        <div id="pregunta">
          <span class="tittle-pregunta" id="enunciado">
            <p class="enunciado-pregunta" contenteditable="true" placeholder="Escribe aquí tu pregunta..."></p>
          </span>
        </div>
      </div>
      <div class="guardarPregunta">
        <i class="fa-solid fa-floppy-disk" onclick=" GuardarPregunta()"></i>
      </div>
    </div>
    <div class="contenedor-respuestas">
      <ul class="contenedor-opciones">

        <li class="contenedor-option" id="resp0">
            <div class="interior-opcion">
              <div class="marcar-correcta">
                <div>
                  <input type="radio" name="opciones" />
                </div>
              </div>
              <div class="explicacion-respuesta">
                <p class="opcion-0" contenteditable="true" placeholder="Escribe aquí tu opción de respuesta"></p>
              </div>
            </div>
        </li>   

        <li class="contenedor-option" id="resp1">
          <div class="interior-opcion">
              <div class="marcar-correcta">
                <div>
                  <input type="radio" name="opciones" />
                </div>
              </div>
              <div class="explicacion-respuesta">
                <p class="opcion-1" contenteditable="true" placeholder="Escribe aquí tu opción de respuesta"></p>
              </div>
            </div>
        </li>
        <li class="contenedor-option" id="resp2">
            <div class="interior-opcion">
                <div class="marcar-correcta">
                  <div>
                    <input type="radio" name="opciones" />
                  </div>
                </div>
                <div class="explicacion-respuesta">
                  <p class="opcion-2" contenteditable="true" placeholder="Escribe aquí tu opción de respuesta"></p>
                </div>
              </div>
        </li>
        <li class="contenedor-option" id="resp3">
            <div class="interior-opcion">
                <div class="marcar-correcta">
                  <div>
                    <input type="radio" name="opciones" />
                  </div>
                </div>
                <div class="explicacion-respuesta">
                  <p class="opcion-3" contenteditable="true" placeholder="Escribe aquí tu opción de respuesta"></p>
                </div>
              </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="footer" id="footer">
  <ul class="footer-nav">
    <!-- Aquí se cargan las temáticas -->
    <li class="footer-item">
      <span class="footer-item-label">Temática:</span>
      <select class="footer-item-select" id="selTematicas">
        <option value="Seleccionar">Seleccionar</option>
      </select>
    </li>
    <!-- Aquí se definen los puntos de las preguntas -->
    <li class="footer-item">
      <span class="footer-item-label">Asignar Puntos:</span>
      <select class="footer-item-select" id="puntos">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="15">15</option>
      </select>
    </li>
  </ul>
  <div class="footer-buttons">
    <button class="footer-button cancel-button">Cancelar</button>
    <button class="footer-button save-button">Guardar</button>
    
  </div>
</div>
{% endblock %}


<!-- Aquí se define la parte del js-->
{% block scripts %}
<script>
  document.addEventListener("DOMContentLoaded", function () {
    cargarTematica();
  });
</script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    respuestaCorrecta();
  });
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
      // Agregar filas de ejemplo para visualizar la tabla
      var listaPreguntas0 = $("#listapreguntas0");
      var listaPreguntas1 = $("#listapreguntas1");
      var listaPreguntas2 = $("#listapreguntas2");
      var listaPreguntas3 = $("#listapreguntas3");
      var listaPreguntas4 = $("#listapreguntas4");
      // Ejemplo de fila con botones de eliminar y editar
      var filaEjemplo0 = $("<tr>").append(
          $("<td>").text("1"),
          $("<td>").text("¿Cuál es la capital de Francia?"),
          $("<td>").append(
              $("<button>").text("Editar").addClass("btn btn-primary").click(function() {
                  editarPregunta(1);
              }),
              $("<button>").text("Eliminar").addClass("btn btn-danger").click(function() {
                  eliminarPregunta(1);
              })
          )
      );
      
      listaPreguntas0.append(filaEjemplo0);
/*
      var filaEjemplo1 = $("<tr>").append(
          $("<td>").text("1"),
          $("<td>").text("La capital de Francia es París."),
          $("<td>").append(
              $("<button>").text("Editar").addClass("btn btn-primary").click(function() {
                  editarPregunta(1);
              }),
              $("<button>").text("Eliminar").addClass("btn btn-danger").click(function() {
                  eliminarPregunta(1);
              })
          )
      );
      
      listaPreguntas1.append(filaEjemplo1);

      var filaEjemplo2 = $("<tr>").append(
          $("<td>").text("1"),
          $("<td>").text("La capital de Francia es París."),
          $("<td>").append(
              $("<button>").text("Editar").addClass("btn btn-primary").click(function() {
                  editarPregunta(1);
              }),
              $("<button>").text("Eliminar").addClass("btn btn-danger").click(function() {
                  eliminarPregunta(1);
              })
          )
      );
      
      listaPreguntas2.append(filaEjemplo2);

      var filaEjemplo3 = $("<tr>").append(
          $("<td>").text("1"),
          $("<td>").text("La capital de Francia es París."),
          $("<td>").append(
              $("<button>").text("Editar").addClass("btn btn-primary").click(function() {
                  editarPregunta(1);
              }),
              $("<button>").text("Eliminar").addClass("btn btn-danger").click(function() {
                  eliminarPregunta(1);
              })
          )
      );
      
      listaPreguntas3.append(filaEjemplo3);
      
      var filaEjemplo4 = $("<tr>").append(
          $("<td>").text("1"),
          $("<td>").text("La capital de Francia es París."),
          $("<td>").append(
              $("<button>").text("Editar").addClass("btn btn-primary").click(function() {
                  editarPregunta(1);
              }),
              $("<button>").text("Eliminar").addClass("btn btn-danger").click(function() {
                  eliminarPregunta(1);
              })
          )
      );
      
      listaPreguntas4.append(filaEjemplo4);
  */

  });
</script>
{% endblock %}
