<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Formulario Conoce tu pep</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css' ) }}">
  </head>

  <body>
    <div class="contenedor-formulario contenedor">
      <div class="imagen-formulario"></div>

      <form class="formulario">
        <div class="texto-formulario">
          <h2 src="{{ url_for('static', filename='static/img/LoginyRegistro/bh.jpg') }}" >
      </div>
        <div class="input">
          <label for="usuario">Email</label>
          <input placeholder="Ingresa tu Email" type="text" id="usuario" name="usuario" />
        </div>
        <div class="input">
          <label for="contraseña">Contraseña</label>
          <input
            placeholder="Ingresa tu contraseña"
            type="password"
            id="contraseña"
            name="contraseña"
          />
        </div>
        
          <div>
            <input type="checkbox" name="opcion" id="opcion1" onchange="limitarSeleccion('opcion1')" /> <!--El valor para el "ID" de jugador es igual a "1" -->
            <label for="opcion1">Jugador</label>

            <input type="checkbox" name="opcion" id="opcion2" onchange="limitarSeleccion('opcion2')" />  <!--El valor para el "ID" de administrador es igual a "2" -->
            <label for="opcion2">Administrador</label>
          </div>
          
          <script>
            function limitarSeleccion(id) {
              const checkboxes = document.getElementsByName("opcion");
              checkboxes.forEach((checkbox) => {
                if (checkbox.id !== id) {
                  checkbox.checked = false;
                }
              });
            }
          </script>
            
          <a href="/Ccontraseña">¿Has olvidado tu contraseña?</a>
          <button type="submit" class="btn" onclick="Iniciar()">
            Iniciar sesion
          </button>
          <div class="login-register">
            <p>
              No tienes una cuenta?<a href="/Registro" class="register-link"
                >Registrate aquí</a>
            </p>
        </div>
      </form>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{{url_for('static', filename ='js/Loggin.js')}}"></script>
  </body>
</html>
